//- TODO 不要？
extends layout 

block content 
  h4 #{bookmark.bookmarkName}
  p(style="white-space:pre;") #{bookmark.memo}
  p 作成者: #{bookmark.user.username}
  h3 出欠表
  table 
    tr 
      th 予定
        button 変更