extends layout 

block content 
  h3.my-3 ブックマークの編集
  form(method="post", action=`/bookmarks/${bookmark.bookmarkId}?edit=1`)
    div.form-group
      label(for="bookmarkName") 名前
      input(type="text" name="bookmarkName" value=bookmark.bookmarkName)#bookmarkName.form-control
    div.form-group
      label(for="bookmarkURL") URL
      input(type="text" name="bookmarkURL" value=bookmark.bookmarkURL)#bookmarkURL.form-control
    div.form-group
      label(for="label") タグ(未実装)
    div.form-group 
      label(for="memo") メモ
      textarea(name="memo")#memo.form-control #{bookmark.memo}
    div.form-group
      button(type="submit").btn.btn-info 以上の内容で保存