extends layout 

block content 
  form(method="post", action="/bookmarks").my-3
    div.form-group  
      label(for="bookmarkName") 名前
      input(type="text" name="bookmarkName")#bookmarkName.form-control
    div.form-group 
      label(for="bookmarkURL") URL
      input(type="text" name="bookmarkURL")#bookmarkURL.form-control
    div.form-group 
      label(for="tag") タグ
      //- タグ追加する
    div.form-group 
      label(for="memo") メモ
      textarea(name="memo" rows="4")#memo.form-control
    button(type="submit").btn.btn-info ブックマークを保存する